{% block body %}
<div class="container">
    <form class="input-group mb-3" method="POST" action="/query">
        <input name="inputQuery" type="text" class="form-control" placeholder="Query">
        <input class="btn btn-primary" type="submit" value="Query">
    </form>

    <form class="input-group mb-3" method="POST" action="/update">
        <input name="detectedObject" type="text" class="form-control" placeholder="Detected Object">
        <input name="btn_object" class="btn btn-success" type="submit" value="Update">
        <button name="btn_object" value="Delete" type="submit" class="btn btn-danger">Delete</button>
    </form>
</div>
{% endblock %}
